<strong>Olá {{ student }}</strong>
<p>Sua solicitação foi respondida em: {{ dateAnswer }}</p><br />
<strong>Sua Pergunta: </strong>
<p>{{ question }}</p>
<strong>Sua resposta: </strong>
<p>{{ answer }}</p>
<p>Havendo mais dúvidas basta entrar em contato com um de nossos professores</p>
